@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

img {
  max-width: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 4rem;
}

.container {
  background-color: var(--white);
  border-radius: 0.625rem;
  padding: 1.25rem;
  box-shadow: 0.5rem 0.5rem 1.5rem var(--grayish-blue);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.container img {
  border-radius: 0.625rem;
  height: 100%;
  margin-bottom: 1rem;
}

.container h1 {
  color: var(--dark-blue);
  text-align: center;
  padding-bottom: 1rem;
}

.container p {
  color: var(--grayish-blue);
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}
